/* PLACE YOU CUSTOM STYLES IN THIS FILE */
/*.nk-navbar .nk-nav > li:last-child {
    margin-right: 0;
}
button.nk-btn.nk-btn-color-main-1 {
    position: absolute;
    top: 0;
    right: 0;
}
.nk-widget-content .input-group {
    position: relative;
}
.nk-form-style-1 .form-control {
    width: 100%;
}*/